@import url('https://fonts.googleapis.com/css?family=Raleway:400,900|Roboto:300,400');

* {
	box-sizing: border-box;
}

body {
	font: 400 24px 'Roboto', sans-serif;
	background: #fff;
	margin: 0;
}

.vk-container {
	padding: 50px 50px 32px;
	max-width: 1200px;
	margin: 0 auto;
}

.vk-header {
	overflow: auto;
}

.vk-logo {
	font: 900 48px 'Roboto', sans-serif;
	display: block;
	width: 290px;
	float: left;
}

.vk-logo a {
	text-decoration: none;
	color: #303030;
}

.vk-logo a:hover {
	color: red;
}

.vk-menu {
	float: right;
}

.vk-menu ul li {
	display: inline-block;
	margin-left: 50px;
}

.vk-menu ul li a {
	text-decoration: none;
	color: #303030;
	float: right;
}

.vk-menu ul li a:hover {
	color: red;
}

.vk-menu__img {
	background: transparent;
	display: inline-block;
	width: 17px;
	height: 14px;
	margin-top: 32px;
	margin-left: 38px;
}
.vk-product-rec {
	margin-top:80px;
	width: 100%;
}
.vk-content {
	width: 50%;
	display: inline-block;
	text-align: right;
	vertical-align: top;
}

.vk-content h2 {
	margin: 0;
	padding: 0;
}

.vk-content a {
	font: 900 24px 'Roboto', sans-serif;
	color: black;
	text-decoration: none;
}

.vk-content a:hover {
	color: red;
}

.vk-content-h2 {
	font: 900 150px 'Raleway', sans-serif;
	text-transform: uppercase;
	line-height: 150px;
}

.vk-content-image {
	width: 50%;
	float: right;
	padding-left: 104px;
}

.vk-content__text {
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin: 25px 0px 25px;
	line-height: 38px;
}

.vk-foto {
	text-align: center;
	padding: 80px 100px;
}

.vk-foto a {
	text-decoration: none;
	background: transparent;
	display: inline-block;
	width: 11px;
	height: 11px;
}

.vk-foto-link {
	background: transparent;
	display: inline-block;
}
.vk-foto-casual {
	display: inline-block;
}
.vk-foto-red-headphones {
	display: inline-block;
}
.vk-foto-red {
	display: inline-block;
}
.vk-foto-shoes {
	display: inline-block;
}
.vk-foto-tumblr {
	display: inline-block;
}
